body{
    background-color:#fff
}#auth{
    height:100vh;
    overflow-x:hidden
}
#auth #auth-right{
    height:100%;
    background:url(../../images/bg/4853433.jpg),linear-gradient(90deg,#364878,#364878)
}#auth #auth-left{
    padding:5rem 8rem
}
#auth #auth-left .auth-title{
    font-size:2rem;
    color: #364878;
}
.auth-title span{
    font-size:1.2rem;
    color: #FFC928;
}
#auth #auth-left .auth-subtitle{
    font-size:1.7rem;
    line-height:2.5rem;
    color:#a8aebb
}
#auth #auth-left .auth-logo{
    margin-bottom:7rem
}
#auth #auth-left .auth-logo img{
    height:200px;
    width: 210px
}

@media screen and (max-width:767px){
    #auth #auth-left{
        padding:5rem
    }
}
